<a href="https://colab.research.google.com/github/thaisyaemi/PAD_DESIGN/blob/main/Exercicio_Olist.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [ ]:
!pip install zipfile

In [3]:
from zipfile import ZipFile

In [6]:
with ZipFile("/content/archive.zip") as myzip:
  print(myzip)

<zipfile.ZipFile filename='/content/archive.zip' mode='r'>

In [15]:
df_orders=pd.read_csv("/content/olist_orders_dataset.csv")

In [16]:
df_orders.describe()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
count,99441,99441,99441,99441,99281,97658,96476,99441
unique,99441,99441,8,98875,90733,81018,95664,459
top,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2018-04-11 10:48:14,2018-02-27 04:31:10,2018-05-09 15:48:00,2018-05-08 23:38:46,2017-12-20 00:00:00
freq,1,1,96478,3,9,47,3,522

In [17]:
df_orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [19]:
df_orders.dtypes #mostra o tipo de dado da coluna,todos estão como object,uma das possibilidades é que pode ser que tenhamos valores nulo, por isso consideram null
#risco de remover nulos, pode ser que remova muitas linhas, pois NA pode ser frequente em algumas colunas

order_id                         object
customer_id                      object
order_status                     object
order_purchase_timestamp         object
order_approved_at                object
order_delivered_carrier_date     object
order_delivered_customer_date    object
order_estimated_delivery_date    object
dtype: object

In [22]:
df_orders.isna().sum() #mostra se é na ou não, o sum conta quantos NAs temos na base

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

In [23]:
df_orders.shape[0]
#o mais correto é usar shape em vez de len por ser um dataframe
#mostra que nao está sendo assinado, marcando que foi entrega, mas é dificil termos uma ação sobre ela,pois é uma resposabilidade do mkt pplace

99441

In [26]:
df_orders.order_status.value_counts() #value count oconta os valores unicos
#estamos verificando se talvez não tenhamos a ssinatura pq tlvz ainda nao tenha sido entregue

delivered      96478
shipped         1107
canceled         625
unavailable      609
invoiced         314
processing       301
created            5
approved           2
Name: order_status, dtype: int64

In [33]:
mask=df_orders.order_delivered_customer_date.isna() #pegar todos as linhas no qual a coluna evidenciada e NA, precisa colcar paratenses pq NA é um metodo

In [35]:
df2=df_orders[mask]

In [36]:
df2.order_status.value_counts() #são caso que não foram entrgues, parece que só teve dois que são casos de erro

shipped        1107
canceled        619
unavailable     609
invoiced        314
processing      301
delivered         8
created           5
approved          2
Name: order_status, dtype: int64

In [37]:
df_orders=df_orders.dropna()

In [38]:
df_orders.shape

(96461, 8)

In [39]:
df_orders.describe()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
count,96461,96461,96461,96461,96461,96461,96461,96461
unique,96461,96461,2,95939,88272,80100,95649,445
top,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2018-08-02 12:05:26,2018-02-27 04:31:10,2018-05-09 15:48:00,2018-05-14 20:02:44,2017-12-20 00:00:00
freq,1,1,96455,3,9,47,3,507

In [40]:
df_orders.dtypes #ela foi importada como string, então provalvemente é por isso que subir como objeto, se estiver sem NA, viria bonitinho os tipos

order_id                         object
customer_id                      object
order_status                     object
order_purchase_timestamp         object
order_approved_at                object
order_delivered_carrier_date     object
order_delivered_customer_date    object
order_estimated_delivery_date    object
dtype: object

In [41]:
df_orders['order_purchase_timestamp_dt']=pd.to_datetime(df_orders.order_purchase_timestamp)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [43]:
df_orders.dtypes

order_id                                 object
customer_id                              object
order_status                             object
order_purchase_timestamp                 object
order_approved_at                        object
order_delivered_carrier_date             object
order_delivered_customer_date            object
order_estimated_delivery_date            object
order_purchase_timestamp_dt      datetime64[ns]
dtype: object

In [ ]:
#recomendável nesse momento exploratório, criar colunas adicionais,não sobrepor ou substituir

In [ ]:
#recomendável realizar um join antes de realizar um feature engineering-> questão de gosto, pode organizar tabela por tabela

In [ ]:
#função aggregate-> alterar a granularidade, precisa utilizar isso no exercício de geolocalização